body {
    font-family: 'Arial', sans-serif;
    margin: 5;
    padding: 0;
    background-color: #11a15ecb; /* Color de fondo verde oscuro */


    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    background-color: #789ee6; /* Color azul */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #00804f; /* Color verde */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #11a15ecb; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0cb868cb; /* Morado vino más oscuro para el hover */
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0cb868cb; /* Color morado vino */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f3e6f7; /* Morado vino claro */
}
